**/data/
/*/images/
.DS_Store
*.ipynb
**/__pycache__/
*/.vscode/
.vscode/
*.png
*.pkl
*.aux
*.log
*.out
*.gz
_minted-report/
*_handin/
/Homework2/doc/_minted-report2/
*.zip
/*/build/
.idea/
OpenMesh/
