**/data/
/*/images/
.DS_Store
*.ipynb
**/__pycache__/
*/.vscode/
.vscode/
*.png
*.pkl
*.aux
*.log
*.out
*.gz
*.bbl
_minted-report/
*_handin/
/Homework2/doc/_minted-report2/
*.zip
/*/build/
.idea/
OpenMesh/
ocnn-pytorch/
/Homework3/ocnn/logs/m40/d5_05121714/checkpoints/
